* {
    font-family: "Arial Black", serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    border-radius: 5px;
    background: whitesmoke;
    border: 2px solid black;
}

.title {
    text-align: center;
    font-size: 1.5vw;
    padding: 0 0 0 0;
}

.game_grid_container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;

    aspect-ratio: 1 / 1;
    width: 35%;

    background: whitesmoke;
    margin: 0 auto;
}

.game_grid_item {
    border: 1px solid black;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.game_state_container {
    text-align: center;
}

.circle_0 {
    width: 10%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    border: 2px solid white;

    position: absolute;
}

.circle_1 {
    width: 7%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    border: 2px solid white;

    position: absolute;
}

.circle_2 {
    width: 4%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    border: 2px solid white;

    position: absolute;
}

.red {
    background: #ff0000;
}

.blue {
    background: #0048ff;
}

.restart_button_container {
    margin-top: 10px;
    display: flex;
    align-content: center;
    justify-content: center;
}

#restart_button {
    font-size: 1.2vw;
}