html {
    font-family: "Arial Black", serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title {
    text-align: center;
    font-size: 1.5vw;
    padding: 0 0 0 0;
}

.game_grid_container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;

    aspect-ratio: 1 / 1;
    width: 35%;

    background: whitesmoke;
    margin: 0 auto;
}

.game_grid_item {
    border: 1px solid black;
    padding: 0;
    text-align: center;
    font-size: 8vw;
}

.game_state {
    text-align: center;
}
